* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  display: grid;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
  height: 85vh;
}

.container h1 {
  color: #175cff;
  text-transform: uppercase;
}

.timer {
  display: flex;
  font-size: 55px;
  font-weight: bold;
  color: #333333;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #172953;
  min-width: 95px;
}

.separator {
  padding: 0 10px;
  color: #525763;
}

#milliseconds {
  font-size: 30px;
  color: #525763;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
}

#startBtn {
  background-color: #175cff;
  color: white;
}

#pauseBtn, #resumeBtn {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 15px;
  color: #f1f1f1;
  background-color: #525763;
}

footer a {
  text-decoration: none;
  font-style: italic;
  color: #f1f1f1;
}

@media screen and (min-width: 920px) {

  .btn:hover {
    transform: scale(1.1);
    border-color: #172953;
  }
}